footer {
    color: #eee;
    background: #2A2730;
    text-align: center;
    vertical-align: middle;
    flex-grow: 2;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
