nav {
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: .4em;
    border-bottom-left-radius: .4em;
}

/*img {
    outline: 1px solid #888;
    box-shadow: 0 5px 20px #eee;
    display: none;
}*/

ul {
}

li {
    list-style-type: none;
    display: inline;
    margin: 0 15px 0;
}

a {
    text-decoration: none;
    color: #309Caa;
    transition: color .5s ease-out;
}

a:hover {
    color: #309CF3;
}
