nav {
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: .4em;
    border-bottom-left-radius: .4em;
}

ul {
}

li {
    padding: 10px 20px;
    list-style-type: none;
    display: inline;
    margin: 0 15px 0;
}

a {
    text-decoration: none;
    color: #309CAA;
    transition: color .5s ease-out;
}

a:hover {
    color: #309CF3;
}
