<article class="profile">
<img src="http://lorempixel.com/g/190/280/people/" />
    <fieldset><legend>Info</legend>
        <form class="" action="index.html" method="post">

            Nome/Sobrenome <input type="search" value="" placeholder="Nome sobrenome" class="field" />
            Email: <input type="search" value="" placeholder="Email" class="field" />
            <input type="button" value="gravar" class="btn" />
            <input type="button" value="cancelar" class="btn btnError" />
        <table>
            <tr ng-repeat="info in userInfo">
                <td>Nome:</td>
                <td>{{info.nome}}</td>
            </tr>
            <tr ng-repeat="info in userInfo">
                <td>Sobrenome:</td>
                <td>{{info.sobrenome}}</td>
            </tr>
            <tr ng-repeat="info in userInfo">
                <td>Email:</td>
                <td>{{info.email}}</td>
            </tr>
            <tr ng-repeat="info in userInfo">
                <td>Endereço:</td>
                <td><select><option>{{info.endereco + " " + info.endereco_n}}</option><option>{{info.endereco + " " + info.endereco_n}}</option></select></td>
            </tr>
        </table>
    <label for="chekbox"><input type="checkbox" id="chekbox" class="checkbox" value="" />newsletter</label>

        </form>
    </fieldset>
</article>
