<article class="profile">
<img src="http://lorempixel.com/g/190/280/people/" />
    <fieldset>
        <form class="" action="index.html" method="post">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=300&h=150" class="formBanner" />
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=143%C3%97143&w=143&h=143" />
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=143%C3%97143&w=143&h=143" />

            <input type="search" value="" placeholder="search" class="field" />
            <input type="search" value="" placeholder="search" class="field fieldError" />
            <input type="button" value="click button" class="btn" />
            <input type="button" value="error button" class="btn btnError" />
            <input type="number" value="1" min="1" max="99" class="number" />
            <label for="chekbox"><input type="checkbox" id="chekbox" class="checkbox" value="" />check this</label>
            <label for="radio"><input type="radio" id="radio" class="radio" value="" />select this</label>
            <textarea class="textArea" rows=300>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
            <hr />
            <em>
                e.g Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.
            </em>
            <br />
            Copyright (c) 2015 Copyright Holder All Rights Reserved.
        </form>
    </fieldset>
</article>
